button {
    border-radius: 5px;
    border: none;
    background-color: rgb(21, 155, 189);
    transition: background-color 0.2s ease-in-out;
    grid-row: 7;
    grid-column: 8/10;
    height: 2.5rem;
    
}

button:hover {
    cursor: pointer;
    background-color: rgb(32, 189, 228);
    
    
}