.box {
    height: 5rem;
    border: 3px solid #c58ea7; 
    border-radius: 10px;
    grid-row: 3/6;
    grid-column: 7/10; 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    position: relative;
  
}
.text-container {
    border: 2px solid pink;
}
.text-headline {
   text-align: center;
   font-size: small;
   margin-top: 15px;
   margin-bottom: 5px;
}
.text-amount {
    text-align: center;
}
.arrow {
    background-color: #c58ea7;
    height: 1rem;
    width: 1rem;
    border-bottom-right-radius: 20px;
    margin-top: 1.8rem;
    margin-left: 1rem;
}

@media screen and (min-width: 480px) {
    .arrow {
      margin-top: 1.4rem;
    }
  }