.slider {
    appearance: none;
    width: 100%;
    height: 25px;
    background: #c58ea7;
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px; 
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}
.slider:hover {
    background-color: rgb(241, 188, 212);
    cursor: pointer;
}
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #0d3843;
    border-radius: 50%;
    cursor: pointer;
}