.slider-wrapper {
    height: 5rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows:repeat(3, 1fr);
}
label {
    font-size:small;
    grid-column: 3/4;
}
.slider {
    box-sizing: border-box;
    appearance: none;
    height: 1rem;;
    background: #c58ea7;
    transition: background-color 0.2s ease-in-out;
    border-radius: 10px; 
    grid-column: 3/10;
    grid-row: 2;
}
.slider.SEK:hover {
    background-color: rgb(241, 188, 212);
    cursor: pointer;
}
.slider.years:hover {
    background-color: rgb(241, 188, 212);
    cursor: pointer;
}
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #0d3843;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}
.text-range {
    font-size:small; 
    grid-row: 2;
    grid-column: 1/3;
    margin-left: 1rem;
}
.text-current-amount {
    font-size: small;
    grid-row: 2;
    grid-column: 10/11;
    margin-left: 0.5rem;
}

