body {
  background-color: #082229;
}

.main-container {
  height: 60%;
  width: 80%;
  padding: 1.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 3px solid orange;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-weight: 100;
  grid-column: 4/8;
}